.mat-card {
    display: flex;
    max-width: 1000px;
    width: 100%;
    padding: 0;
    margin: 20px auto;
}

.card-description {
    max-width: 400px;
    width: 100%;
    margin: 10px;
}

.mat-card-image {
    margin: 0;
    max-width: 600px;

    &:first-child {
        margin: 0;
    }
}

.card-content-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-content {
    position: relative;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-actions {
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
    margin: 0 20px 20px 20px;
}
