<mat-card>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-title>Create a new card</mat-card-title>
        <mat-card-content>
            <div>
                <p>
                    <mat-form-field>
                        <input
                            formControlName="title"
                            type="ytext"
                            matInput
                            placeholder="Title"
                        >
                        <mat-error
                            *ngIf="form.controls['title'].touched && form.get('title')?.hasError('maxlength')">
                            The title is too long
                        </mat-error>
                        <mat-error
                            *ngIf="form.controls['title'].touched && form.get('title')?.hasError('minlength')">
                            The title is too short
                        </mat-error>
                        <mat-error
                            *ngIf="form.get('title')?.invalid && form.get('title')?.touched && !form.get('title')?.dirty">
                            Please enter a title
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input
                            formControlName="description"
                            type="text"
                            matInput
                            placeholder="Description">
                    </mat-form-field>
                    <mat-error
                        *ngIf="form.controls['description'].touched && form.get('description')?.hasError('maxlength')">
                        The description is too long
                    </mat-error>
                </p>
                <p>
                    <mat-form-field>
                        <input
                            formControlName="img"
                            type="url"
                            matInput
                            placeholder="img">
                    </mat-form-field>
                    <mat-error
                        *ngIf="form.get('img')?.invalid && form.get('img')?.touched && !form.get('img')?.dirty">
                        Please enter a link to the image
                    </mat-error>
                    <mat-error
                        *ngIf="form.get('img')?.hasError('pattern')">
                        The video link is invalid
                    </mat-error>
                </p>
                <p>
                    <mat-form-field>
                        <input
                            formControlName="linkVideo"
                            type="url"
                            matInput
                            placeholder="video link">
                    </mat-form-field>
                    <mat-error
                        *ngIf="form.get('linkVideo')?.touched
                        && form.get('linkVideo')?.invalid
                        && !form.get('linkVideo')?.dirty"
                    >
                        Please enter a link to the video
                    </mat-error>
                    <mat-error
                        *ngIf="form.get('linkVideo')?.hasError('pattern')">The video link is invalid
                    </mat-error>
                </p>
                <p>
                    <mat-form-field>
                        <input
                            [matDatepicker]="date"
                            formControlName="date"
                            matInput
                            placeholder="creation date"
                            (click)="date.open()"
                            [min]="minDate"
                        >
                        <mat-datepicker-toggle matPrefix [for]="date" [disabled]="false"></mat-datepicker-toggle>
                        <mat-datepicker #date [disabled]="false"></mat-datepicker>
                    </mat-form-field>

                    <mat-error *ngIf="form.get('date')?.touched && form.get('date')?.invalid && !form.get('date')?.dirty">
                        Please enter a creation date
                    </mat-error>

                </p>
                <div class="button">
                    <button
                        [disabled] = form.invalid
                        type="submit"
                        mat-button
                    >Create</button>
                </div>
            </div>
        </mat-card-content>
    </form>
</mat-card>

<div class="cards">
    <app-admin-card *ngFor="let card of cards$ | async" [card]="card"></app-admin-card>
</div>

