:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
    align-items: center;
    flex-direction: column;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

.mat-card {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
}
