.search {
  display: flex;
  gap: 10px;
}

.search-input {
  max-width: 500px;
  width: 100%;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
