.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-main {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon {
  font-size: 36px;
  height: 36px;
  width: 36px;
}

