.mat-card {
  width: 300px;
}

.mat-card-header {
  height: 60px;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}

.mat-card-content {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.card-content-item {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: default;

  .mat-icon:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.mat-progress-bar.red {
  ::ng-deep .mat-progress-bar-buffer {
    background: indianred;
  }
}

.mat-progress-bar.green {
  ::ng-deep .mat-progress-bar-buffer {
    background: darkseagreen;
  }
}

.mat-progress-bar.blue {
  ::ng-deep .mat-progress-bar-buffer {
    background: #3f51b5;
  }
}



